.signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullname, .email {
    display: flex;
    margin-bottom:50px;
}

.signup__label {
    width: 200px;
    font-weight: bolder;
    font-size: x-large;
    font-family: "Monaco" ;
}

.signup__input {
    width: 500px;
    background-color: lavenderblush;
    border: none;
    padding: 20px;
    font-size: x-large;
}


