.header {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-bottom: 100px;
}

.h_limitless {
    margin-right: 20px;
    font-family: 'Brush Script MT', cursive;
    color: blue;
    padding: 10px;
    border-bottom: lightcoral 2px solid;
}

.h_shop {
    font-family: "Luminari";
    padding: 10px;
    border-bottom: lightcoral 2px solid;
}